<a href="https://colab.research.google.com/github/iy20505/iy20505.github.io/blob/main/week4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Week 4 Google Colab python notebook

In [1]:
import pandas as pd

In [2]:
nikkei = pd.read_html("https://en.wikipedia.org/wiki/Nikkei_225")

In [3]:
nik2 = nikkei[2]

In [4]:
nik2

     Year  Closing level Change in Indexin Points Change in Indexin %
0    1914          21.12                      NaN                 NaN
1    1915          32.10                    10.98               51.99
2    1916          41.61                     9.51               29.63
3    1917          41.40                    −0.21               −0.50
4    1918          42.21                     0.81                1.96
..    ...            ...                      ...                 ...
103  2017       22764.94                  3650.54               19.10
104  2018       20014.77                −2,750.17              −12.08
105  2019       23656.62                  3641.85               18.20
106  2020       27444.17                  3787.55               16.01
107  2021       28791.71                  1347.54                4.68

[108 rows x 4 columns]

In [5]:
nik3 = nik2.drop("Change in Indexin Points", axis=1)

In [6]:
nik3

     Year  Closing level Change in Indexin %
0    1914          21.12                 NaN
1    1915          32.10               51.99
2    1916          41.61               29.63
3    1917          41.40               −0.50
4    1918          42.21                1.96
..    ...            ...                 ...
103  2017       22764.94               19.10
104  2018       20014.77              −12.08
105  2019       23656.62               18.20
106  2020       27444.17               16.01
107  2021       28791.71                4.68

[108 rows x 3 columns]

In [7]:
nik3.to_csv("nikkei.csv")

In [8]:
sp500 = pd.read_html("https://www.macrotrends.net/2324/sp-500-historical-chart-data", skiprows=1)

In [9]:
sp500small = sp500[0]

In [10]:
sp500small

,Year,AverageClosing Price,Year Open,Year High,Year Low,Year Close,Annual% Change
,2022,"4,117.43","4,796.56","4,796.56","3,577.03","4,027.26",-15.50%
0,2021,4273.41,3700.65,4793.06,3700.65,4766.18,26.89%
1,2020,3217.86,3257.85,3756.07,2237.40,3756.07,16.26%
2,2019,2913.36,2510.03,3240.02,2447.89,3230.78,28.88%
3,2018,2746.21,2695.81,2930.75,2351.10,2506.85,-6.24%
4,2017,2449.08,2257.83,2690.16,2257.83,2673.61,19.42%
...,...,...,...,...,...,...,...
89,1932,6.92,7.82,9.31,4.40,6.89,-15.15%
90,1931,13.66,15.85,18.17,7.72,8.12,-47.07%
91,1930,21.00,21.18,25.92,14.44,15.34,-28.48%
92,1929,26.19,24.81,31.86,17.66,21.45,-11.91%
93,1928,19.94,17.76,24.35,16.95,24.35,37.88%

In [11]:
sp500small2 = sp500small.drop(["AverageClosing Price", "Year High", "Year Low", "Year Close", "Annual% Change"], axis=1)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:4150: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [12]:
sp500small2.to_csv("sp500.csv")